table {
  color:white;
  border:2px white;
}

body {
  background-color:black;
}

.gameDiv {
  border: 5px solid white;
  background-color:black;
  min-height:100px;
  width:400px;
}

#war{
text-align: center;
}

#warP{
text-align: center;
}

#warButton{
align:center;
}
